  *{
    font-family: 'Times New Roman', Times, serif;
  }
  .navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #c56a19;
  }

  .navbar li {
    float: right;
  }

  .navbar li a {
    display: block;
    color: #dedfda;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .navbar li a:hover {
    background-color: #b0bbb0;
  }
 
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100;
    height: 150;
  }

  body {
    background-color: #dedfda;
  }
  
  h1 {
    color: #013832;
    text-align: center;
  }
  
  h2{
    color: #013832;
    text-align: justify;
  }
  
  p {
    color: #387A5c;
    font-size: 20px;
    text-align: justify;
  }

  ul{
    color: #387A5c;
  }

  ol{
    color: #387A5c;
  }